<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chick.exam.mapper.ExamRecordMapper">
    <select id="selectExamRecord" parameterType="string" resultType="com.chick.exam.vo.ExamRecordVO">
        select
            id,
            real_id as realId,
            type,
            (select year from exam_real where id = real_id) as realName,
            (select count(1) from exam_real_question where exam_real_id = real_id) as countAll,
            all_question_id as allQuestion,
            do_question_id as doQuestion,
            update_date as updateDate,
            create_date as createDate
        from exam_record
        where user_id = #{userId}
        and exam_id = #{examId}
        and detail_id = #{detailId}
        and subject_id = #{subjectId}
        order by create_date desc
    </select>
</mapper>
