<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chick.exam.mapper.ExamAnswerQuestionsMapper">
    <update id="deleteByRecordId">
        update exam_answer_questions
        set del_flag = '1'
        where record_id = #{recordId}
    </update>
    <select id="selectQuestionByExamIdDetailIdSubjectIdUserId" parameterType="string" resultType="string">
        select distinct question_id
        from exam_answer_questions
        where exam_id = #{examId}
          and detail_id = #{detailId}
          and subject_id = #{subjectId}
          and user_id = #{userId}
    </select>
</mapper>
